<div class="forgot-password-container">
  <h2>{{ 'auth.forgotPasswordTitle' | translate }}</h2>
  <form [formGroup]="forgotPasswordForm" (ngSubmit)="recoverPassword()">

    <label for="email">{{ 'auth.emailLabel' | translate }}</label>
    <input id="email" formControlName="email" type="email" placeholder="{{ 'auth.emailPlaceholder' | translate }}">

    <div class="error" *ngIf="email.invalid && (email.touched || email.dirty)">
      <span *ngIf="email.errors?.['required']">
        {{ 'auth.emailRequired' | translate }}
      </span>
      <span *ngIf="email.errors?.['email']">
        {{ 'auth.invalidEmail' | translate }}
      </span>
    </div>

    <button type="submit" [disabled]="forgotPasswordForm.invalid">
      {{ 'auth.recoverPasswordBtn' | translate }}
    </button>

    <a routerLink="/login">{{ 'auth.backToLogin' | translate }}</a>

  </form>
</div>
